# flask
Flask==2.3.3
Werkzeug==2.3.7
Jinja2==3.1.2
itsdangerous==2.1.2
click==8.1.7

# db
SQLAlchemy==2.0.23
psycopg2-binary==2.9.9
alembic==1.12.1

# auth
Flask-Bcrypt==1.0.1
cryptography==41.0.4

# websockets y tiempo real
Flask-SocketIO==5.3.5
python-socketio==5.9.0
python-engineio==4.6.1
eventlet==0.33.3

# api y cors
Flask-CORS==4.0.0
requests==2.31.0

Gunicorn==21.2.0

# env
python-dotenv==1.0.0
