# flask
Flask
Werkzeug
Jinja2
itsdangerous
click

# db
SQLAlchemy
psycopg2-binary
alembic

# auth
Flask-Bcrypt
cryptography

# websockets y tiempo real
Flask-SocketIO
python-socketio
python-engineio
eventlet

# api y cors
Flask-CORS
requests

# servidor
Gunicorn

# env
python-dotenv
