{% extends 'base.html' %} {% block title %}Buscar películas{% endblock %} {% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/buscar.css') }}">{% endblock %} {% block content %}
<section class="mt-2">
    <h2 id="tituloBusqueda" class="mb-3">Resultados de búsqueda</h2>
    <div id="resultados" class="row row-cols-1 row-cols-md-6 g-4"></div>
</section>
{% endblock %} {% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/pages/buscar.js') }}"></script>
{% endblock %}
