{% extends 'base.html' %} {% block title %}Película{% endblock %} {% block content %}
<section id="pelicula" class="mt-2">
    <div class="movie-detail">
        <div>
            <img id="imagen" class="movie-poster" alt="Poster de la película" />
        </div>
        <div>
            <h1 id="titulo" class="mb-3"></h1>
            <p id="descripcion" class="lead"></p>
            <div class="mt-3">
                <div class="mb-1"><span class="muted">Lanzamiento:</span> <span id="fecha"></span></div>
                <div class="mb-1"><span class="muted">Duración:</span> <span id="duracion"></span> <span class="muted">min</span></div>
                <div class="mb-1"><span class="muted">Géneros:</span> <span id="generos"></span></div>
                <div class="mb-1"><span class="muted">Puntuación:</span> <span id="puntuacion" class="accent"></span></div>
            </div>
        </div>
    </div>
    
</section>

<!-- con mantener los id alcanza, ejemplo: <span id="..."></span>, <hX id="titulo"></hX>. todo el resto se puede modificar libremente -->
<!-- cada cada contenido va dirigido a esos ids, creo que no importa que tipo de etiqueta sea -->
<!-- yo(ardui) sacaria los p strong , etc. lo haria de otra forma -->

{% endblock %} {% block scripts %}
<script>
    const API = "http://127.0.0.1:5000/api";
    const movieId = "{{ movie_id }}"; // Flask inserta el ID aquí

    async function cargarPelicula() {
        console.log("Ejecutando cargarPelicula()");
        try {
            const resp = await fetch(`${API}/peliculas/${movieId}`);
            const json = await resp.json();
            console.log("Respuesta:", json);

            if (json.status !== "success") {
                document.getElementById("pelicula").innerHTML = "<p class='text-danger'>Error al cargar la película.</p>";
                return;
            }

            const p = json.data;

            document.getElementById("titulo").textContent = p.title;
            document.getElementById("descripcion").textContent = p.overview;
            document.getElementById("fecha").textContent = p.release_date;
            document.getElementById("duracion").textContent = p.runtime;
            document.getElementById("generos").textContent = p.genres.join(", ");
            document.getElementById("puntuacion").textContent = p.vote_average;
            document.getElementById("imagen").src = p.imageUrl;
        } catch (err) {
            console.error("Error cargando película:", err);
        }
    }

    window.addEventListener("DOMContentLoaded", cargarPelicula);
</script>
{% endblock %}
