{% extends 'base.html' %} {% block title %}Perfil{% endblock %} {% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">{% endblock %} {% block content %}

<section id="" class="mt-2">
    <div class="profile-detail">
        <!-- <div>
            <img id="imagenPerfil" class="profile-picture" alt="Foto de perfil" />
        </div> -->
        <div>
            <h1 id="nombreUsuario" class="mb-3"></h1>
            <div class="mt-3">
                <div class="mb-1">
                    <span class="muted">Reseñas:</span>
                    <div id="listaReviews"></div>
                </div>
                <div class="mb-1"><span class="muted">Películas favoritas:</span> <span id="numFavoritas"></span></div>
            </div>
        </div>
    </div>
</section>

{% endblock %} {% block scripts %}
<script defer src="{{ url_for('static', filename='js/pages/perfil.js') }}"></script>
{% endblock %}
