{% extends 'base.html' %}

{% block title %}Testing de Componentes{% endblock %}

{% block content %}
<h2>Test</h2>
<div id="carrousel-peliculas">
    <ul id="peliculas">
    </ul>
</div>
{% endblock %}


<script>
    const API = "http://127.0.0.1:5000";

    async function cargarPeliculas() {
        const resp = await fetch(`${API}/peliculas`);
        const data = await resp.json();
        const lista = document.getElementById("peliculas");
        lista.innerHTML = "";
        data.forEach(e => {
            const li = document.createElement("li");
            li.textContent = `${e.nombre} (${e.pais}) - Campeonatos: ${e.campeonatos}`;
            lista.appendChild(li);
        });
    }

    document.getElementById("form-escuderia").addEventListener("submit", async e => {
        e.preventDefault();
        const nombre = document.getElementById("nombre-esc").value;
        const pais = document.getElementById("pais-esc").value;
        const campeonatos = parseInt(document.getElementById("campeonatos").value);

        const resp = await fetch(`${API}/escuderias`, {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({nombre, pais, campeonatos})
        });
        alert((await resp.json()).mensaje);
        cargarEscuderias();
    });

</script>
