{% extends 'base.html' %}

{% block title %}Testing de Componentes{% endblock %}

{% block content %}
<h2>Test</h2>
<div id="carrousel-peliculas">
    <ul id="peliculas">
    </ul>
</div>
{% endblock %}

{% block scripts %}
<script>
    const API = "http://127.0.0.1:5000/api";

    
function crearCard(data) {
  const card = document.createElement("div");
  card.classList.add("card", "text-bg-dark");

  const img = document.createElement("img");
  img.src = data.imageUrl;
  img.classList.add("card-img");
  img.alt = "Imagen de la pelicula";
  card.appendChild(img);

  const overlay = document.createElement("div");
  overlay.classList.add("card-img-overlay");

  const title = document.createElement("h5");
  title.classList.add("card-title");
  title.textContent = data.title;
  overlay.appendChild(title);

  const text = document.createElement("p");
  text.classList.add("card-text");
  text.textContent = data.text;
  overlay.appendChild(text);

  const updated = document.createElement("p");
  updated.classList.add("card-text");
  const small = document.createElement("small");
  small.textContent = `Última actualización: ${data.updated}`;
  updated.appendChild(small);
  overlay.appendChild(updated);

  card.appendChild(overlay);

  return card;
}

    async function cargarPeliculas() {
      console.log("Ejecutando cargarPeliculas()");
      const resp = await fetch(`${API}/peliculas`);
      const json = await resp.json();
      console.log("Respuesta:", json);
      
      const data = json.data;
      console.log("Data:", data);
      const lista = document.getElementById("peliculas");
      lista.innerHTML = "";
      data.forEach(p => {
        const nuevaCard = crearCard(p);
        contenedorCards.appendChild(nuevaCard);
      });
    }

    window.addEventListener("DOMContentLoaded", cargarPeliculas);
</script>
{% endblock %}
